html, body{
    background-color: #f7f7f7;
    color: #333333;
    scroll-behavior: smooth;
}


footer, .navbar, .btn-primary{
    background-color: #4475a1;
    border: none;
}

footer a, .navbar a{
    color: #f7f7f7;
}

.altura{
    height: 70vh;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

.agrando{
    font-size: 1.7rem;
}
