html, body{
    background-color: #f7f7f7;
    color: #333333;
}

footer, .navbar{
    background-color: #eeeeee;
}

@media (min-width: 576px) { 
    footer{
        position: fixed; 
        bottom:0%;
        width:100%;
    }
}