html, body{
    background-color: whitesmoke;
}

footer{
    background-color: snow;
}

@media (min-width: 576px) { 
    footer{
        position: fixed; 
        bottom:0%;
        width:100%;
    }
}