html, body{
    background-color: #f7f7f7;
    color: #333333;
    scroll-behavior: smooth;
}

footer, .navbar{
    background-color: #4475a1;
}

.bg{
  background-image: url("bg.jpg");
}

footer a, .navbar a{
    color: #f7f7f7;
}

  a:hover, .enesa {
    color: #fcdb5e !important;
  }

@media (min-width: 522px) { 
	.altura{
        height: 60vh;
    }
}
@media (min-width: 411px) { 
    .agrando{
        font-size: 1.7rem;
    }
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

.overlay { 
    color:black;
    position:absolute;
    z-index:12;
    top:0%;
    width: 100%;
    text-align:center;
    margin: auto;
    background-color: rgba(255, 255, 255, .5);
  }
  

p, #puntos li{
    font-size: large;
}

#puntos li{
    margin-bottom: 10px;
}
#puntos{
    list-style: square;
}

span.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.verde{
    background-color: #4eb661 !important;
    border: none;
}

.rojo{
    color: #f7f7f7;
    background-color: #b64e66 !important;
    border: none;
}
