html, body{
    background-color: snow;
    color: darkslategray;
}

footer, .navbar{
    background-color: lavenderblush;
}

@media (min-width: 576px) { 
    footer{
        position: fixed; 
        bottom:0%;
        width:100%;
    }
}