html, body{
    background-color: #f7f7f7;
    color: #333333;
    scroll-behavior: smooth;
}

footer, .navbar, .btn-primary{
    background-color: #4475a1;
    border: none;
}

footer a, .navbar a{
    color: #f7f7f7;
}

@media (min-width: 522px) { 
	.altura{
        height: 70vh;
    }
    .agrando{
        font-size: 1.7rem;
    }
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

p{
    font-size: large;
}

.botoninline{
    display: inline-block;
    vertical-align: top;
}

span.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
