html, body{
    background-color: #f7f7f7;
    color: #333333;
    scroll-behavior: smooth;
}

footer, .navbar{
    background-color: #4475a1;
}

.bg{
  background-image: url("bg.jpg");
}

footer a, .navbar a{
    color: #f7f7f7;
}

@media (min-width: 522px) { 
	.altura{
        height: 70vh;
    }
    .agrando{
        font-size: 1.7rem;
    }
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

p{
    font-size: large;
}

span.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.verde{
    background-color: #4eb661 !important;
    border: none;
}

.rojo{
    color: #f7f7f7;
    background-color: #b64e66 !important;
    border: none;
}
